@page
@model EditProfileModel

<h1>Edit Profile</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="FirstName">First Name (First Name should be between 1 and 25 characters.)</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name (Last Name should be between 1 and 25 characters.)</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email">Email (Email is required)</label>
        <input asp-for="Email" class="form-control" />
    </div>
    
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
