@page
@model Laundry_Management_System.Areas.Identity.Pages.Account.ForgotPasswordConfirmationModel

<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password Confirmation</title>
</head>
<body>
    <h1>Forgot Password Confirmation</h1>
    <p>Your password reset link has been sent. Please check your email for further instructions.</p>
</body>
</html>
